#root {
  /*text-align: center;*/
  height: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
          "slnt" 0;
  /*--dot-bg: white;*/
  /*--dot-color: #2e2e2e;*/
  /*--dot-size: 1.5px;*/
  /*--dot-space: 70px;*/
  /*background:*/
  /*        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),*/
  /*        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),*/
  /*        var(--dot-color);*/
}

/* For WebKit browsers (Chrome, Safari) */
textarea::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

textarea::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners */
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

/* For Firefox */
textarea {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* thumb and track color */
  resize: none; /* Prevent resizing */
}